<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.houseBoard.dao.HouseBoardMapper">
	<select id="selectHBoardList" parameterType="map" resultType="houseBoardVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		  b.house_num,
			  		  <![CDATA[
			  		  REPLACE(REPLACE(b.house_title,'<','&lt;'),'>','&gt;') house_title,
			  		  ]]>
			  		  b.house_hits,
			  		  b.house_reg_date,
			  		  b.mem_num,
			  		  m.mem_id
			  		FROM house_board b JOIN member m ON b.mem_num = m.mem_num
			  		<where>
			  			<if test="keyword != '' and keyfield == 1">
			  				b.house_title LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword != '' and keyfield == 2">
			  				m.mem_id LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword != '' and keyfield == 3">
			  				b.house_content LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword != '' and keyfield == 4">
			  				b.house_title LIKE '%' || #{keyword} || '%' or
			  				b.house_content LIKE '%' || #{keyword} || '%'
			  			</if>
			  		</where>
					ORDER BY b.house_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM house_board b JOIN member m ON b.mem_num = m.mem_num
		<where>
			<if test="keyword != '' and keyfield == 1">
  				b.house_title LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword != '' and keyfield == 2">
  				m.mem_id LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword != '' and keyfield == 3">
  				b.house_content LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword != '' and keyfield == 4">
  				b.house_title LIKE '%' || #{keyword} || '%' or
  				b.house_content LIKE '%' || #{keyword} || '%'
  			</if>
		</where>
	</select>
</mapper>